In [11]:
import os
import pandas as pd

from XGMIX import *

## Using tool for prediction

In [15]:
query_file = "/home/wknd37/Admixture/generated_data/XGMix_release/build37/chm21/simulation_output/val/founders.vcf"
output_basename = "prediction"
chm = "21"
cmd = "python3 XGMIX.py " + query_file + " " + " " + output_basename + " " + chm
print(cmd)
os.system(cmd)

python3 XGMIX.py /home/wknd37/Admixture/generated_data/XGMix_release/build37/chm21/simulation_output/val/founders.vcf  prediction 21

0

## Analyzing result

In [17]:
output_file = "./"+output_basename+".tsv"
pred_df = pd.read_csv(output_file, sep="\t", comment="#")
pred_df

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_600,col_601,col_602,col_603,col_604,col_605,col_606,col_607,col_608,col_609
0,21,9411313,-,-,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
1,21,9411381,-,-,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
2,21,9411410,-,-,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
3,21,9411441,-,-,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
4,21,9411446,-,-,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316075,21,48119252,-,-,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
316076,21,48119259,-,-,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
316077,21,48119510,-,-,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
316078,21,48119634,-,-,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
316079,21,48119697,-,-,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [ ]:
# TODO: load .map file and validate

In [16]:
# TODO: CM ?